/* header {
  height: 10vh;
  background-color: rgb(0, 150, 136);
} */

main {
  height: 100vh;
  background-color: rgb(218, 219, 211);
}

#app.container-fluid {
  width: 70vw !important;
}

.side-bar {
  width: 25vw;
}

.main-chat {
  width: 45vw;
}

img {
  height: 5rem;
}

.icon {
  font-size: 2rem;
}

.grey.icon {
  color: rgb(177, 177, 177);
}

.bell.icon {
  color: rgb(141, 218, 252);
  background-color: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

#notifiche {
  background-color: rgb(141, 218, 252) !important;
}

#notifiche a {
  text-decoration: underline;
  color: grey;
}

.input-group-text {
  background-color: white;
  color: rgb(177, 177, 177);
}

#search {
  height: 60px;
}
