/* header {
  height: 10vh;
  background-color: rgb(0, 150, 136);
} */

main {
  height: 100vh;
  background-color: rgb(218, 219, 211);
}

#app.container-fluid {
  width: 70vw !important;
}

.side-bar {
  width: 25vw;
}

.main-chat {
  width: 45vw;
}

img {
  height: 5rem;
}

.grey-icon {
  color: grey;
  font-size: 2rem;
}
